extends ../layout

block content
  include ../partials/header
  .row#loginpage
    .page-header
      h3 Profile Information

    form.form-horizontal(action='/account/profile', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', value='#{user.email}')
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
      .form-group
        label.col-sm-3.control-label(for='telephone') Telephone
        .col-sm-7
          input.form-control(type='text', name='telephone', id='telephone', value='#{user.profile.telephone}')
      .form-group
        label.col-sm-3.control-label(for='name') Thermal Printer URL
        .col-sm-7
          input.form-control(type='text', name='thermal_url', id='thermal_url', value='#{user.profile.thermal_url}')
      .form-group
        label.col-sm-3.control-label(for='location') Location
        .col-sm-7
          input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencilr
            | Update Profile

    .page-header
      h3 Change Password

    form.form-horizontal(action='/account/password', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='password') New Password
        .col-sm-7
          input.form-control(type='password', name='password', id='password')
      .form-group
        label.col-sm-3.control-label(for='confirmPassword') Confirm Password
        .col-sm-7
          input.form-control(type='password', name='confirmPassword', id='confirmPassword')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn-primary(type='submit')
            | Change Password

    .page-header
      h3 Linked Accounts
    .form-horizontal
      .form-group
        .col-sm-8
          if user.facebook
            p: a(href='/account/unlink/facebook') Unlink your Facebook account
          else
            p: a(href='/auth/facebook') Link your Facebook account
        .col-sm-8
          if user.twitter
            p: a(href='/account/unlink/twitter') Unlink your Twitter account
          else
            p: a(href='/auth/twitter') Link your Twitter account
            
    .page-header
      h3 Delete Account

    form.form-horizontal(action='/account/delete', method='POST')
      .form-group
        p.col-sm-8 You can delete your account, but keep in mind this action is irreversible.
        input(type='hidden', name='_csrf', value=_csrf)
        .col-sm-6
          button.btn.btn-danger(type='submit')
            | Delete my account
